<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="url" value="https://www.espn.com/?src=com&amp;_adblock=true"></parameter>
    <test verbose="2" preserve-order="true" name="C:/WorkSpaceJava/finalExam">
        <classes>
        <class name="test.espnLoginTest">
            <methods>
            </methods>
        </class>
        </classes>
    </test>
</suite>